### pour passer en cell markdown: ESC + M (m comme markdown)
### pour passer en cell code: ESC + Y (par défaut c'est une cell de type code)
(edition du type de la cell => ESC)

### pour rentrer et écrire DANS la cellule => Enter ou un click sur l'intérieur de la cellule
* Intérieur de la cell = > highlightée en vert
* En mode "édition du type de cellule" => highlightée en bleu

* pour supprimer une cell => (ESC +) D + D
* pour ajouter une cell au dessus => (ESC +) appui sur A
* pour ajouter une cell en dessous => (ESC +) appui sur B

<h1 style='color: red;'>Un titre</h1>

<img src="coronavirus.jpg" width="200px">


```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```

> bonjour

* tache 1
* tache 2
* tache 3

In [21]:
a = 3
a

3

# en python tout et objet !

In [28]:
a = 3

In [31]:
b = 2

In [32]:
a + b

5

* un ***entier*** c'est un **objet**
* un ***string*** (une chaine de caractères = un ou plusieurs charactères à la suite) c'est un **objet**
* une ***fonction*** est un **objet**
* une ***liste*** est un **objet**
* une ***classe*** est un **objet**
* une ***instance*** de la classe est un **objet**

Qu'est ce qu'un objet (en python) ?

## contient un id, un type, et une valeur

* avec un entier

In [35]:
id(3)

4394223968

In [36]:
type(3) # integer

int

In [41]:
3

3

* avec un string

In [52]:
id("bonjour")

4430462256

In [53]:
type("bonjour") # string

str

In [54]:
"bonjour"

'bonjour'

# manipuler des entiers

In [55]:
3 + 2 # (3).__add__(2)

5

In [56]:
3 - 2 # (3).__sub__(2)

1

In [57]:
3 / 2

1.5

In [60]:
4 // 2 #(4).__mul__(2)

2

In [61]:
4 % 2

0

In [62]:
4 * 2

8

In [63]:
4 ** 2

16

# lister les méthodes et attributs associées à un objet

In [73]:
# pour commenter ce que j'écris à côté (-3).__abs__()
abs(-3)

3

In [72]:
3 == 4 # ce qui est éxécuté derrière => (3).__eq__(4)

False

In [74]:
3 <= 4 # (3).__le__(4)

True

In [76]:
3 != 4 # (3).__ne__(4)

True

In [78]:
(4).__neg__()

-4

In [79]:
dir(3)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [81]:
"bonjour"+ "luc" + '!'

'bonjourluc!'

In [89]:
"3".__add__("2")

'32'

In [84]:
dir("bonjour")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Strings

In [94]:
a = "bonjour"

# . + tab => liste les méthodes et attributs
# une fois la méthode (ou attribut) écrite en entier => appui sur Shift + tab pour avoir la docu

In [96]:
a.capitalize()

'Bonjour'

In [98]:
a.lower()

'bonjour'

In [99]:
a.upper()

'BONJOUR'

In [101]:
a = " c'est luc !      "

In [102]:
a.strip()

"c'est luc !"

In [105]:
a = "bonjour"

In [106]:
a

'bonjour'

In [108]:
a.replace('o', 'a').upper()

'BANJAUR'

In [110]:
a.count('j')

1

In [118]:
# tâche: laissez un user écrire son prénom et 
# enregistrer dans une variable 'msg'  "bonjour <leprénomdonné>"

In [125]:
prenom = input("écris ton nom : ")
print("Bonjour " + prenom.capitalize())

écris ton nom : luc
Bonjour Luc

In [126]:
a = "bonjour"

### indexing

In [127]:
a[0] # a.__getitem__(0)

'b'

In [128]:
a[1]

'o'

In [129]:
a[2]

'n'

In [130]:
a[6]

'r'

In [131]:
a[7]

IndexError: string index out of range

In [135]:
a[-1]

'r'

In [134]:
a[-3]

'o'

In [158]:
a

'bonjour'

In [327]:
for letter in 'bonjour':
    print( letter )

b
o
n
j
o
u
r

# assigner une nouvelle valeur à un index particulier !

In [193]:
a.__getitem__(0)

'b'

In [194]:
a[0]

'b'

In [196]:
a[0] = 't'

TypeError: 'str' object does not support item assignment

In [192]:
"t"  + a[1::2]

'toju'

### slicing

attention: le dernier element est exclu du slicing

### objectquejeslice[indexstart : stopindex(exclu) : step(optionel)]

In [167]:
a[0:5]

'bonjo'

In [162]:
a[-4:-1]

'jou'

optionel: rajouter un pas !

In [170]:
a

'bonjour'

In [172]:
a[::3]

'bjr'

* \_\_add__ existe pour 2 => ajoute à un element du meme type (ici entier)
* \_\_add__ existe pour "bonjour" => ajoute à un element du meme type (ici str)

In [151]:
int(3)

3

In [156]:
str('bonjour')

'bonjour'

In [139]:
"bonjour" + str(2)

'bonjour2'

In [145]:
int('3') + 2

5

## listes

In [197]:
a = [ ]

In [198]:
a

[]

In [199]:
id(a)

4516854592

In [200]:
type(a)

list

In [204]:
[]

[]

In [203]:
list()

[]

In [227]:
a = [ 2, "bonjour", [ [2, 3 ],3,4] ]

In [219]:
type(a)

list

In [220]:
type(a[0])

int

In [221]:
a[1]

'bonjour'

In [222]:
type(a[2])

list

In [230]:
uneliste = ["luc", "rené", "sophie"]

In [231]:
uneliste[0]

'luc'

In [232]:
uneliste[0] = "lucie" # uneliste.__setitem__(0, "corentin")

In [234]:
uneliste[-1] = "thomas"

In [238]:
uneliste.append("stéphanie")

In [239]:
uneliste

['corentin', 'rené', 'thomas', 'stéphanie']

In [240]:
uneliste.append("joseph")

# python est 0-indexed

In [258]:
uneliste

['corentin', 'lucie', 'rené', 'thomas', 'stéphanie', 'joseph', 'lucie']

In [259]:
uneliste.insert(1, "lucie")

In [260]:
uneliste

['corentin',
 'lucie',
 'lucie',
 'rené',
 'thomas',
 'stéphanie',
 'joseph',
 'lucie']

In [261]:
uneliste.append('lucie')

In [262]:
uneliste.count('lucie')

4

In [263]:
uneliste

['corentin',
 'lucie',
 'lucie',
 'rené',
 'thomas',
 'stéphanie',
 'joseph',
 'lucie',
 'lucie']

In [264]:
uneliste

['corentin',
 'lucie',
 'lucie',
 'rené',
 'thomas',
 'stéphanie',
 'joseph',
 'lucie',
 'lucie']

In [265]:
uneliste.extend(["stéphanie", "rené"])

In [266]:
uneliste

['corentin',
 'lucie',
 'lucie',
 'rené',
 'thomas',
 'stéphanie',
 'joseph',
 'lucie',
 'lucie',
 'stéphanie',
 'rené']

In [270]:
uneliste = ["corentin", "joseph"]

In [274]:
uneliste = ["joséphine", "batman"] + uneliste

In [280]:
uneliste

['joséphine', 'batman', 'corentin', 'joseph']

In [281]:
uneliste[1:3]

['batman', 'corentin']

## itérer sur une liste

In [287]:
for prenom in uneliste:
    print( "Bonjour "+  prenom )

Bonjour joséphine
Bonjour batman
Bonjour corentin
Bonjour joseph

In [290]:
uneliste

['joséphine', 'batman', 'corentin', 'joseph']

In [304]:
for prenom in uneliste:
    with open( prenom + ".txt", mode='w') as file:
        file.write("bonjour")

In [303]:
with open( "fichier2.txt", mode='r') as file:
    print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'fichier2.txt'

In [305]:
uneliste

['joséphine', 'batman', 'corentin', 'joseph']

In [311]:
'barman' in uneliste # uneliste.__contains__('batman')

False

In [313]:
len(uneliste) # uneliste.__len__()

4

In [321]:
a = 2
print(uneliste)

['joséphine', 'batman', 'corentin', 'joseph']

In [339]:
uneliste[0] = "joseph"

In [340]:
uneliste

['joseph', 'batman', 'corentin', 'joseph']

#### un autre primitive type: dict

In [342]:
dico = dict()

In [343]:
dico

{}

In [344]:
dico = {}

In [345]:
dico

{}

In [349]:
print( id(dico))
type(dico )

4521280192

dict

In [350]:
dico

{}

une collection de clés:valeurs

In [4]:
dico_des_ages = {
    "Luc": 18,
    "Julie": 19,
    "René": 16
}

In [33]:
for nom, age in dico_des_ages.items():
    print( f"{nom} a {age} ans" )

Luc a 18 ans
Julie a 19 ans
René a 16 ans

* insérer une clé:valeur dans un dico

In [34]:
dico_des_ages['Corentin'] = 30

In [35]:
dico_des_ages

{'Luc': 18, 'Julie': 19, 'René': 16, 'Corentin': 30}

* modifier une valeur pour une clé donnée

In [36]:
dico_des_ages['Corentin'] = 31
dico_des_ages

{'Luc': 18, 'Julie': 19, 'René': 16, 'Corentin': 31}

* accéder à une valeur pour clé donnée

In [37]:
dico_des_ages['Corentin']

31

In [40]:
"Julie" in dico_des_ages

True

* supprimer une association clé:valeur

In [38]:
del dico_des_ages["Corentin"]
dico_des_ages

{'Luc': 18, 'Julie': 19, 'René': 16}